@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply bg-black;
    }
}

.green-gradient-text {
    background: linear-gradient(to bottom right, #3cff5b -16.22%, #2fcdff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.card-container {
    position: relative;
    overflow: hidden;
}

.bg-card {
    position: relative;
    overflow: hidden;
}

.blob {
    filter: blur(40px);
    position: absolute;
    z-index: 10;
    top: 0;
    opacity: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(60, 255, 91, 0.3);
    transition: all 300ms ease-in-out;
}

.fakeblob {
    display: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
.animate-rotate {
    animation: rotate 10s linear infinite;
}
