@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply bg-black;
    }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom right, #3cff5b -16.22%, #2fcdff 100%);
  opacity: 30%;
  border-radius: 50%;
  pointer-events: none;
  border: #2fcdff 1px solid;
  z-index: 9999;
}

.green-gradient-text {
    background: linear-gradient(to bottom right, #3cff5b -16.22%, #2fcdff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.card-container {
    position: relative;
    overflow: hidden;
}

.bg-card {
    position: relative;
    overflow: hidden;
}

.blob {
    filter: blur(40px);
    position: absolute;
    z-index: 10;
    top: 0;
    opacity: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(#3cff5c4a, #2fceff51);
    transition: all 300ms ease-in-out;
}

.fakeblob {
    display: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
.animate-rotate {
    animation: rotate 10s linear infinite;
}

.animate-reverse {
    animation-direction: reverse;
}
/* AlumniCard-specific blob effect */
.alumni-card {
  --blob-size: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}


.alumni-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}



.alumni-card .blob {
  position: absolute;
  width: var(--blob-size);
  height: var(--blob-size);
  left: calc(50% - calc(var(--blob-size) / 2));
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  filter: blur(60px);
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms 200ms linear;
}

.alumni-card:hover .blob {
  opacity: 1;
}

.alumni-card .fakeblob {
  visibility: hidden;
  z-index: -1;
  height: 100%;
}

/* Transition and hover effects for AlumniCard */
.alumni-card .social-link {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

.alumni-card:hover .social-link {
  opacity: 1;
}

.alumni-card .social-link:hover {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
}

.alumni-card .inner {
  backdrop-filter: blur(80px);
  height: 100%;
}